.calculate {
    width: 200px;
    height: 330px;
    display: flex;
    flex-direction: column;
    background: #d2e7e8;
    border: 1px solid #3c000c;
    border-radius: 2px;
}
.calculate__title {
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: #97836d;
    text-transform: uppercase;
    text-align: center;
}
.calculate__header {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: #e7ecec;
    /*border: 1px solid #3c000c;*/
}
.calculate__body {
    background-color: #ccc0c0;
    width: 200px;
    height: 200px;
}
.calculate__footer {
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #c6e3ff;
}
.number-pad {
    display: flex;
    width: 200px;
    height: 200px;
}
.number-pad__left {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 150px;
    background-color: #dde5ff;
}
.number-pad__right {
    background-color: #c2c9e2;
    display: flex;
    width: 50px;
    height: 200px;
}
.numbers-buttons {
    display: flex;
}
.buttons {
    background-color: #95c5c4;
    width: 50px;
    height: 50px;
    border: 1px solid #cae0dc;
    color: #5f6c5f;
    border-radius: 2px;
}
.buttons:hover {
    background-color: #b8d1f8;
}
/*.keretka{*/
/*    height: 40px;*/
/*    width: 2px;*/
/*    border: 1px solid rgba(124, 124, 124, 0.9);*/
/*}*/
#inputFirst {
    /*background-color: #f4ffff;*/
    /*width: 196px;*/
    /*height: 44px;*/
    /*font-size: 22px;*/
    /*color: #97836d;*/
    /*text-align: right;*/
    /*animation:*/
    /*        typing 3.5s steps(30, end),*/
    /*blink-caret .5s step-end infinite;*/

}
/*@keyframes typing {*/
/*    from { width: 0 }*/
/*    to { width: 50% }*/
/*}*/
@keyframes blink-caret
{
    from, to { border-color: transparent }
    50% { border-right-color:  #202020
    }
}


#reset {
    width: 100px;
}
#del {
    width: 100px;
}
